*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Gotham Rounded", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 720px;
  margin: 20px auto;
  color: white;
}

.card-1 {
  border: 1px solid black;
  margin-top: 20px;
}

.cityName {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.city {
  font-size: 2rem;
}

.name {
  font-size: 3rem;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.data-details {
  display: flex;
  flex-grow: 1;
  padding: 1rem;
}
