*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto Mono", sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  width: 600px;
  margin: 20px auto;
}

.card-1 {
  border: 2px solid black;
  margin-top: 20px;
  border-radius: 5px;
  background-color: aliceblue;
}

.cityName {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.city {
  font-size: 2rem;
  margin-top: 10px;
}

.name {
  font-size: 3rem;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.data-details {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  font-size: 20px;
}

.data-details > div {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15px 30px;
}
